html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.resource_link_div_left, .resource_link_div_right,
.resource_link, .chan_link_right, .chan_link_left {
 
text-decoration:none!important; 
border-color:#555!important;
color:white!important;
margin-left:10px;  }

 .twitter_div_left {
opacity:0.40;
margin-left:10px;  }
 

h2 { margin-top:0px; 
margin-bottom:20px;
 
font-size:25px;
padding-left:10px;
opacity:0.7;
font-weight:100!important;
letter-spacing:0.0;
color:lightblue;
}
 
  
  
  body > div > div.chan_link_left > div > i { font-size:15px!important;}
  
.resource_image_left { 
padding-left:10px;
padding-right:20px;
font-size:12px; line-height:17px;  
}

.donate-icon {position:relative; top:-8px; left:1px; width:20px!important;}
.swing-banner b { font-weight:100;
color:#999!important;
font-size:15px;}

.swing-banner .love {font-size:13px;  padding-left:8px; color:lightblue!important;}
.swing-banner a{
font-weight:300;
color:#fff!important;
text-decoration:none;}

.swing-banner {width:100%; 
 font-size:14px!important;
 padding-bottom:10px; 
 padding-top:20px;
z-index:999999!important;
}
.swing-banner img {
width:40px;
margin-left:30px;
margin-right:10px;
margin-bottom:-12px;
margin-top:3px;
}
.chan_link_left a:before {
content:"•" }

.market-stats {font-size:10px;
line-height:14px;
margin-top:45px;
margin-bottom:25px; }

.market-stats b {
letter-spacing:1;
font-weight:400;
margin-right:10px;
}

  .chan_link_left a {
color:#888;
text-decoration:none; 
}  
 .chan_link_left {
color:#888; 
text-align:center;
 padding:0px;
font-size:12px; line-height:17px;
font-weight:300;
text-align:left; 
padding-top:30px;
padding-bottom:30px; 
padding-right:20px;
margin-bottom:0px;
overflow:hidden; 
padding:20px;  
margin-bottom:11px;
}

.chatxx {  
margin-top:15px; 
width:104%;}

.resource_link_div_left {
color:#999;
z-index:99999!important; 
padding:20px;
font-size:18px; line-height:22px;
font-weight:100; 
border:1px solid #999;
border-radius:6px; 
text-decoration:none;
margin-bottom:6px;
   }  
   .resource_link_div_left b {
   font-size:12px;
   text-decoration:none!important
   }




::-webkit-scrollbar {
  width: 1px;
}
html{overflow-y: scroll!important;
overflow-x: hidden!important;}

::-webkit-scrollbar-thumb {
  background: #666!important;
}
::-webkit-scrollbar-thumb {
  background: #666!important;
}
::-webkit-scrollbar-thumb {
  background: #444!important;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-button {
  background: #000;
  height: 0px;
  border-radius: 0%;
}




 

/* https://cum.sebezua.com/emotes/feelsgood.png */
/* https://cum.sebezua.com/emotes/hieverybody.png */
/* https://cum.sebezua.com/emotes/feelsgood.png */
/* https://cum.sebezua.com/emotes/maxgainz.gif*/
 
 
 .exchange_buttons {
 opacity:0.7;
 padding-left:10px;}
 
 button{border:none!important;
 background-color:#090909;
 font-size:12px;
 padding-top:0px;
 padding-bottom:0px;
 color:white;
 margin:-3px!important; 
 
 }
.binance {color:gold;}
.okex {color:pink;}
.huobi {color:lightblue;}
.upbit {color:blue}

.bitfinex {color:lightgreen;}
.kraken {color:white}
.gdax {color:#ff8247}
.hitbtc {color:#ee7600}
.bit-z {color:#a0522d}
.bittrex {color:#8b4789}
.bitstamp {color:#778899}
.quoine {color:#ab82ff}
.bits-blockchain {color:#b22222}
.poloniex {color:#8b8970}
.exmo {color:#c1cdc1}
.gate-io {color:#c71585}
.exx {color:#cdc673}
.liqui {color:#40e0d0}




.sidebar{position:fixed;
width:300px;
padding:0px; 
right:0px;
 color:lightblue;
 font-family:roboto;
font-size:17px;
font-weight:100;
padding-right:10px;
margin-top:0px;
z-index:-9999!important;
top:4px;} 

 

span > img {display:none!important;}
.sidebar hr {margin-top:-10px!important;}

.stats *{
 line-height:18px!important;
padding:0px!important;
font-size:11px!important;
margin:0px!important; 
font-family:roboto;
 font-weight:300!important;
} 
  

.stats{
 width:91%;
  opacity:0.9; 
}
 
  
 

.don{
color:lightblue;
font-size:14px; 
font-weight:600;
padding:0px;
letter-spacing:0.1;
margin-left:10px;
margin-right:14px;
padding-right:2px;
padding-left:3px;
margin-top:64px;}
 
input {background-color:#111;

text-align:right;
border:0px;
height:34px;
margin-top:12px;
margin-left:9px;
position:relative; 
 padding-right:11px;
color:lightblue;
font-size:19px;
font-weight:100;
letter-spacing:1.; 
border:1px solid #333;

z-index:9999999999!important;}

#btn{font-weight:300!important;
padding-left:10px;
padding-right:10px;
 
margin-left:-5px; 
 opacity:0.8;
border:1px solid #333;
background-color:#111;
height:34px;
width:40px;
padding-bottom:10px;
z-index:9999999!important;
background-image:url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-32.png);
background-size:20px;
background-position:9px 5px;
background-repeat:no-repeat;
margin-bottom:20px;
} 

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



  

.footer-width{
text-align:left; 
}
.charts {padding-left:355px;}

.biz img{ padding-bottom:7px;
padding-right:22px;
float:left;}
.share-charts { 
width:90px!important;
 }
 .footer-header{
 margin-bottom:10px;
 }
.share-chart-container { 
height:400px;
z-index:99999999999}

.box
{
  display: inline-block;
   width: 150px;
   padding:0px;
   margin:0px;
  height: 100px;
  color:white;
  }
.box img{
width:90%;
margin-top:15px;
}
 

  

hr {opacity:0}





















.chart_title {margin-bottom:0px;
 
	border-left:0px solid black;
 
	padding-left:3px; 
	padding-top:3px; 
 
	padding-bottom:0px;
	z-index:9999!important;
	text-align:right;}
	
body > div.charts > a:nth-child(odd)  {
color:#999!important;
}

body > div.charts > a:nth-child(even)  {
color:#777!important;
}
 .chart_thumb {	 
 	 margin-right:-1px;
	 margin-bottom:-1px;
}
	
	
body { 
	font-size:17px;
	font-weight:300;
	letter-spacing:1.5;
	font-family:roboto;
 margin:0px;
padding:0px;
font-family:roboto;
background-color:#fff;
  
}
 


@media only screen and (max-width: 1114px) {
body > div:nth-child(1) {display:none!important;}
.charts{padding-left:8px!important;}
body {margin-right:0px!important;}
}


 


@media only screen and (min-width: 914px) {
body   {margin-right:190px!important;}
.charts{padding-left:8px!important;}
}



 



* { color:black!important;}

button{background-color:white!important;
background-color:#f1f1f1!important;}

  
.chan_link_left {color:black!important;
font-weight:400; 
line-height:18px;
 font-size:15px!important;}



.chat_link_left i,
.chan_link_style{ 
}


 

.chan_link_left > a {
padding-bottom:0px!Important;
font-weight:500!important;}

.chan_link_header {color:black!important;
font-weight:900!important;}

 
.forum_feed_link,.chan_link_body{
margin-bottom:11px!important;
border-bottom: 1px solid #ddd;
padding-bottom:9px!important;
}
