.left-div
{
  display: inline-block;
  max-width: 40%;
  text-align: left;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
}
.right-div
{
  display: inline-block;
  max-width: 40%;
  text-align: left;
  padding: 20px;
  margin: 10px;
}
.left-text, .right-text
{
 font-weight:100;
	color: white;
}
@media screen and (max-width: 600px) 
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
   
}


@media screen and (max-width: 400px) 
{
   table td:nth-child(2), table td:nth-child(7)
    {
       display:none!important;
    }
   
}
