body{margin:0px;
background-color:black;
font-family:roboto!important;
margin: 0 auto; 
margin-top:10px; 

}

.ccc-widget, .ccc-header {  }

ul > li{font-size:17px;}
ul > li > b{color:#7fa8c0!important; font-weight:600;}
div.content > p {color:#dfe3ee!important; font-size:17px!important; font-weight:300; max-width:500px;}
div.content > p b {color:#7fa8c0!important; font-size:20px!important; font-weight:900; max-width:500px;}
div.heading > h1 {color:#7fa8c0!important; text-decoration:none;
background-size:40px;
 
background-repeat:no-repeat;
padding-left:-20px; 
margin-bottom:11px;
}

.foot {
 
color:#d24119;
padding:20px;
}
 

body > div.table_container > table {  margin-bottom:-10px;  
z-index:999999;}


hr{border-color:#7fa8c0!important;
position:relative;
z-index:-999999;}




   table td:nth-child(1), table td:nth-child(2), table td:nth-child(7)
   {font-size:10px;}
    
.cour {font-weight:300;
 
padding-left:20px;}


td:nth-child(1){text-align:left;
padding-left:15px;}



td:nth-child(1){font-weight:bold;}

#loss td:nth-child(1), #loss td:nth-child(5){color:#d24119; font-weight:300!important;}
#loss a:visited, #loss a:link, #loss a {color:#d24119;!important;}
 
 

#win td:nth-child(1), #win td:nth-child(4){color:#093;}

#win td:nth-child(1), #win td:nth-child(4){color:#093; font-weight:300!important;}

#win a:visited, #win a:link, #win a {color:#093;!important;}



#neutral td:nth-child(3){ 
}

table td:nth-child(6),table td:nth-child(8) {
display:none!important;}
 
 table {font-size:13px;
width:100%;

 text-align:left;
 
}


table td{background-color:#111!important;}


table td:nth-child(3):after{
content:" BTC";
font-weight:200;
font-size:12px;
}

td {max-width:10px;
width:10px;}

.banner-green {
color:#093;
font-weight:300;
}

.banner-red {
color:#d24119;
font-weight:300;
}

.banner-black {
color:#999;
font-weight:300;
}
 

td { 
 padding-bottom:9px;
padding-top:9px;
padding-left:10px;}

td img{width:18px; 
margin-bottom:-5px;
margin-right:6px;} 
table td{
background-color:#000;
 

color:#7fa8c0;
}

 

.stats {
font-size:24px!important;
 margin-top:4px;
color:#7fa8c0; 
font-weight:100;
}

.header-text{font-weight:300;
font-size:28px;
padding-top:3px;
color:#7fa8c0;
}



a {font-weight:400;
color:#7fa8c0;}


.banner-icon {
padding-left:16px;
 float:left;
padding-right:15px;
 
width:80px;
height:80px;
}

 
.table_header td{background-color:black!important;
color:#7fa8c0!important;
font-weight:400;
text-transform:uppercase;
font-size:14px!important;
padding-bottom:8px; }
.table_header td:after{content:""!important;}

.navigation {

font-size:18px;
padding-left:15px;
padding-bottom:50px;
font-weight:200;
letter-spacing:0.8px;
color:white;
margin-top:9px;
margin-bottom:10px;

}

.navigation-block {
margin-right:16px;
float:left;
background-color:#0c0c0c;
border-top:1px solid #191919;
border-left:1px solid #191919;
padding-top:8px;
padding-bottom:10px;
padding-left:40px;
padding-right:13px;
border-radius:2px;
background-repeat:no-repeat;
background-position:15px 12px;
}

#loss td{background-color:#140800!important;
 color:#6f5a4d; }

#win td{background-color:#000a04!important;
color:#335a42;
 
margin-top:-1px;}





		a          { text-decoration: none      }
		a:hover    { text-decoration: underline }
		a:active   { text-decoration: underline }
		strike     { color: grey                }
		u          { text-decoration: none;
					 background-color: yellow   }
		tt         {        }
		pre        { 
					 margin-left: 20px          }
		h1         { text-decoration: underline;
					 color: #4e9a06; margin-bottom: 0 }
		h2         { margin-bottom: 0 }
		h3         { margin-bottom: 0 }
		h4         {  margin-bottom: 0 }
		h5         {  margin-bottom: 0 }
		p          { margin-top: 0              }
		span.zim-tag {
			color: #ce5c00;
		}
		div.zim-object {
			border-style:solid;
			border-width:1px;
		}
		ul {list-style-image: none}
		/* ul rule needed to reset style for sub-bullets */

		span.insen { color: grey                }

		.pages {
			max-width: 1000px;
			 padding-left: 320px;
		}
		.menu{
			float:left; width: 300px;
		}
		hr{clear:both;}



div.content > h2 {color:#7fa8c0!important}

div.content a {text-decoration:underline;}

#marquee-element > div > a {text-decoration:none!important;}
