body{margin:0px;
background-color:black;
color:white;
}

 

td:nth-child(1){text-align:left;}
  
#loss td:nth-child(5){color:red;
font-weight:bold;
}

#loss td:nth-child(5):after{
content:" loss"
}


#win td:nth-child(4):after{
content:" won"
}

#win td:nth-child(4){color:green;
font-weight:bold;
}
#neutral td:nth-child(3){
color:black!important;
font-weight:bold;}

table td:nth-child(6),table td:nth-child(8) {
display:none!important;}
 
 table {font-size:9pt;
width:100%;

 text-align:left;
 
} 


.banner {background-image:url(banner.png);
height:28px;
background-repeat:no-repeat;
padding-left:50px;
padding-top:12px;}

td { 
padding:5px;}

td img{width:15px;
margin-bottom:-3px;}
table tr:nth-child(odd) td{


background-color:#f2f2f2;
color:#333;
}
table tr:nth-child(even) td{
background-color:white;
color:#333;
}


 
