body > div.charts > a > div.ADA {display:block!important;}
body > div.charts > a > div.ADX {display:block!important;}
body > div.charts > a > div.AE {display:block!important;}
body > div.charts > a > div.AION {display:block!important;}
body > div.charts > a > div.AMB {display:block!important;}
body > div.charts > a > div.APPC {display:block!important;}
body > div.charts > a > div.ARK {display:block!important;}
body > div.charts > a > div.ARN {display:block!important;}
body > div.charts > a > div.AST {display:block!important;}
body > div.charts > a > div.BAT {display:block!important;}
body > div.charts > a > div.BCC {display:block!important;}
body > div.charts > a > div.BCD {display:block!important;}
body > div.charts > a > div.BCPT {display:block!important;}
body > div.charts > a > div.BLZ {display:block!important;}
body > div.charts > a > div.BNB {display:block!important;}
body > div.charts > a > div.BNT {display:block!important;}
body > div.charts > a > div.BQX {display:block!important;}
body > div.charts > a > div.BRD {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.BTG {display:block!important;}
body > div.charts > a > div.BTS {display:block!important;}
body > div.charts > a > div.CDT {display:block!important;}
body > div.charts > a > div.CHAT {display:block!important;}
body > div.charts > a > div.CMT {display:block!important;}
body > div.charts > a > div.CND {display:block!important;}
body > div.charts > a > div.CTR {display:block!important;}
body > div.charts > a > div.DASH {display:block!important;}
body > div.charts > a > div.DGD {display:block!important;}
body > div.charts > a > div.DLT {display:block!important;}
body > div.charts > a > div.DNT {display:block!important;}
body > div.charts > a > div.EDO {display:block!important;}
body > div.charts > a > div.ELF {display:block!important;}
body > div.charts > a > div.ENG {display:block!important;}
body > div.charts > a > div.ENJ {display:block!important;}
body > div.charts > a > div.EOS {display:block!important;}
body > div.charts > a > div.ETC {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.EVX {display:block!important;}
body > div.charts > a > div.FUEL {display:block!important;}
body > div.charts > a > div.FUN {display:block!important;}
body > div.charts > a > div.GAS {display:block!important;}
body > div.charts > a > div.GRS {display:block!important;}
body > div.charts > a > div.GTO {display:block!important;}
body > div.charts > a > div.GVT {display:block!important;}
body > div.charts > a > div.GXS {display:block!important;}
body > div.charts > a > div.HSR {display:block!important;}
body > div.charts > a > div.ICN {display:block!important;}
body > div.charts > a > div.ICX {display:block!important;}
body > div.charts > a > div.INS {display:block!important;}
body > div.charts > a > div.IOST {display:block!important;}
body > div.charts > a > div.IOTA {display:block!important;}
body > div.charts > a > div.KMD {display:block!important;}
body > div.charts > a > div.KNC {display:block!important;}
body > div.charts > a > div.LEND {display:block!important;}
body > div.charts > a > div.LINK {display:block!important;}
body > div.charts > a > div.LRC {display:block!important;}
body > div.charts > a > div.LSK {display:block!important;}
body > div.charts > a > div.LTC {display:block!important;}
body > div.charts > a > div.LUN {display:block!important;}
body > div.charts > a > div.MANA {display:block!important;}
body > div.charts > a > div.MCO {display:block!important;}
body > div.charts > a > div.MDA {display:block!important;}
body > div.charts > a > div.MOD {display:block!important;}
body > div.charts > a > div.MTH {display:block!important;}
body > div.charts > a > div.MTL {display:block!important;}
body > div.charts > a > div.NANO {display:block!important;}
body > div.charts > a > div.NAV {display:block!important;}
body > div.charts > a > div.NCASH {display:block!important;}
body > div.charts > a > div.NEBL {display:block!important;}
body > div.charts > a > div.NEO {display:block!important;}
body > div.charts > a > div.NULS {display:block!important;}
body > div.charts > a > div.OAX {display:block!important;}
body > div.charts > a > div.OMG {display:block!important;}
body > div.charts > a > div.ONT {display:block!important;}
body > div.charts > a > div.OST {display:block!important;}
body > div.charts > a > div.PIVX {display:block!important;}
body > div.charts > a > div.POA {display:block!important;}
body > div.charts > a > div.POE {display:block!important;}
body > div.charts > a > div.POWR {display:block!important;}
body > div.charts > a > div.PPT {display:block!important;}
body > div.charts > a > div.QLC {display:block!important;}
body > div.charts > a > div.QSP {display:block!important;}
body > div.charts > a > div.QTUM {display:block!important;}
body > div.charts > a > div.RCN {display:block!important;}
body > div.charts > a > div.RDN {display:block!important;}
body > div.charts > a > div.REQ {display:block!important;}
body > div.charts > a > div.RLC {display:block!important;}
body > div.charts > a > div.RPX {display:block!important;}
body > div.charts > a > div.SALT {display:block!important;}
body > div.charts > a > div.SNGLS {display:block!important;}
body > div.charts > a > div.SNM {display:block!important;}
body > div.charts > a > div.SNT {display:block!important;}
body > div.charts > a > div.STEEM {display:block!important;}
body > div.charts > a > div.STORJ {display:block!important;}
body > div.charts > a > div.STORM {display:block!important;}
body > div.charts > a > div.STRAT {display:block!important;}
body > div.charts > a > div.SUB {display:block!important;}
body > div.charts > a > div.SYS {display:block!important;}
body > div.charts > a > div.TNB {display:block!important;}
body > div.charts > a > div.TNT {display:block!important;}
body > div.charts > a > div.TRIG {display:block!important;}
body > div.charts > a > div.TRX {display:block!important;}
body > div.charts > a > div.VEN {display:block!important;}
body > div.charts > a > div.VIA {display:block!important;}
body > div.charts > a > div.VIB {display:block!important;}
body > div.charts > a > div.VIBE {display:block!important;}
body > div.charts > a > div.WABI {display:block!important;}
body > div.charts > a > div.WAN {display:block!important;}
body > div.charts > a > div.WAVES {display:block!important;}
body > div.charts > a > div.WINGS {display:block!important;}
body > div.charts > a > div.WPR {display:block!important;}
body > div.charts > a > div.WTC {display:block!important;}
body > div.charts > a > div.XEM {display:block!important;}
body > div.charts > a > div.XLM {display:block!important;}
body > div.charts > a > div.XMR {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div.XVG {display:block!important;}
body > div.charts > a > div.XZC {display:block!important;}
body > div.charts > a > div.YOYO {display:block!important;}
body > div.charts > a > div.ZEC {display:block!important;}
body > div.charts > a > div.ZIL {display:block!important;}
body > div.charts > a > div.ZRX {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:'Exchange: binance';}
button.binance {font-weight:900!important; font-size:15px!important;}
