.ADA .chart_title,
.ADX .chart_title,
.AE .chart_title,
.AION .chart_title,
.AMB .chart_title,
.APPC .chart_title,
.ARK .chart_title,
.ARN .chart_title,
.AST .chart_title,
.BAT .chart_title,
.BCC .chart_title,
.BCD .chart_title,
.BCPT .chart_title,
.BLZ .chart_title,
.BNB .chart_title,
.BNT .chart_title,
.BQX .chart_title,
.BRD .chart_title,
.BTC .chart_title,
.BTG .chart_title,
.BTS .chart_title,
.CDT .chart_title,
.CHAT .chart_title,
.CMT .chart_title,
.CND .chart_title,
.CTR .chart_title,
.DASH .chart_title,
.DGD .chart_title,
.DLT .chart_title,
.DNT .chart_title,
.EDO .chart_title,
.ELF .chart_title,
.ENG .chart_title,
.ENJ .chart_title,
.EOS .chart_title,
.ETC .chart_title,
.ETH .chart_title,
.EVX .chart_title,
.FUEL .chart_title,
.FUN .chart_title,
.GAS .chart_title,
.GTO .chart_title,
.GVT .chart_title,
.GXS .chart_title,
.HSR .chart_title,
.ICN .chart_title,
.ICX .chart_title,
.INS .chart_title,
.IOST .chart_title,
.IOTA .chart_title,
.KMD .chart_title,
.KNC .chart_title,
.LEND .chart_title,
.LINK .chart_title,
.LRC .chart_title,
.LSK .chart_title,
.LTC .chart_title,
.LUN .chart_title,
.MANA .chart_title,
.MCO .chart_title,
.MDA .chart_title,
.MOD .chart_title,
.MTH .chart_title,
.MTL .chart_title,
.NANO .chart_title,
.NAV .chart_title,
.NCASH .chart_title,
.NEBL .chart_title,
.NEO .chart_title,
.NULS .chart_title,
.OAX .chart_title,
.OMG .chart_title,
.ONT .chart_title,
.OST .chart_title,
.PIVX .chart_title,
.POA .chart_title,
.POE .chart_title,
.POWR .chart_title,
.PPT .chart_title,
.QLC .chart_title,
.QSP .chart_title,
.QTUM .chart_title,
.RCN .chart_title,
.RDN .chart_title,
.REQ .chart_title,
.RLC .chart_title,
.RPX .chart_title,
.SALT .chart_title,
.SNGLS .chart_title,
.SNM .chart_title,
.SNT .chart_title,
.STEEM .chart_title,
.STORJ .chart_title,
.STORM .chart_title,
.STRAT .chart_title,
.SUB .chart_title,
.TNB .chart_title,
.TNT .chart_title,
.TRIG .chart_title,
.TRX .chart_title,
.VEN .chart_title,
.VIA .chart_title,
.VIB .chart_title,
.VIBE .chart_title,
.WABI .chart_title,
.WAN .chart_title,
.WAVES .chart_title,
.WINGS .chart_title,
.WTC .chart_title,
.XEM .chart_title,
.XLM .chart_title,
.XMR .chart_title,
.XRP .chart_title,
.XVG .chart_title,
.XZC .chart_title,
.YOYO .chart_title,
.ZEC .chart_title,
.ZIL .chart_title,
.ZRX .chart_title,
.reeeeeeee{
	color:gold; 
  	font-weight:900; 
	margin-bottom:2px;
	}
	
