.AIDOC .chart_title,
.ARK .chart_title,
.ARN .chart_title,
.ATM .chart_title,
.BCD .chart_title,
.BCH .chart_title,
.BLK .chart_title,
.BNTY .chart_title,
.BTC .chart_title,
.BTG .chart_title,
.BTX .chart_title,
.DASH .chart_title,
.DGB .chart_title,
.DOGE .chart_title,
.EKT .chart_title,
.EOS .chart_title,
.ETC .chart_title,
.ETH .chart_title,
.ETP .chart_title,
.FCT .chart_title,
.GAME .chart_title,
.GXS .chart_title,
.HSR .chart_title,
.HWC .chart_title,
.INK .chart_title,
.LEO .chart_title,
.LSK .chart_title,
.LTC .chart_title,
.MCO .chart_title,
.NKC .chart_title,
.NULS .chart_title,
.OC .chart_title,
.OCN .chart_title,
.OMG .chart_title,
.OTN .chart_title,
.OXY .chart_title,
.PART .chart_title,
.PAY .chart_title,
.PIX .chart_title,
.PPC .chart_title,
.PUT .chart_title,
.PYLNT .chart_title,
.QTUM .chart_title,
.QUBE .chart_title,
.REBL .chart_title,
.SPHTX .chart_title,
.SSS .chart_title,
.TRX .chart_title,
.UNIT .chart_title,
.VIU .chart_title,
.VOISE .chart_title,
.XAS .chart_title,
.XPM .chart_title,
.XRB .chart_title,
.ZEC .chart_title,
.ZGC .chart_title,
.ZSC .chart_title,
.reeeeeeee{
	color:#a0522d; 
  	font-weight:900; 
	margin-bottom:2px;
	}
	
