body > div.charts > a > div.BCH {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.BTG {display:block!important;}
body > div.charts > a > div.DASH {display:block!important;}
body > div.charts > a > div.EOS {display:block!important;}
body > div.charts > a > div.ETC {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.ETP {display:block!important;}
body > div.charts > a > div.LTC {display:block!important;}
body > div.charts > a > div.MIOTA {display:block!important;}
body > div.charts > a > div.NEO {display:block!important;}
body > div.charts > a > div.QTUM {display:block!important;}
body > div.charts > a > div.XMR {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div.ZEC {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:'Exchange: bitfinex';}
button.bitfinex {font-weight:900!important; font-size:15px!important;}
