body > div.charts > a > div.BCH {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.LTC {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:' bitstamp';}
button.bitstamp {font-weight:900!important; font-size:15px!important;}
