.ABY .chart_title,
.ADA .chart_title,
.ADT .chart_title,
.ADX .chart_title,
.AEON .chart_title,
.AMP .chart_title,
.ANT .chart_title,
.ARDR .chart_title,
.ARK .chart_title,
.AUR .chart_title,
.BAT .chart_title,
.BAY .chart_title,
.BCC .chart_title,
.BCPT .chart_title,
.BCY .chart_title,
.BITB .chart_title,
.BLITZ .chart_title,
.BLK .chart_title,
.BLOCK .chart_title,
.BNT .chart_title,
.BRK .chart_title,
.BRX .chart_title,
.BSD .chart_title,
.BTC .chart_title,
.BTG .chart_title,
.BURST .chart_title,
.BYC .chart_title,
.CANN .chart_title,
.CFI .chart_title,
.CLAM .chart_title,
.CLOAK .chart_title,
.CLUB .chart_title,
.COVAL .chart_title,
.CPC .chart_title,
.CRB .chart_title,
.CRW .chart_title,
.CURE .chart_title,
.CVC .chart_title,
.DASH .chart_title,
.DCR .chart_title,
.DCT .chart_title,
.DGB .chart_title,
.DMD .chart_title,
.DMT .chart_title,
.DNT .chart_title,
.DOGE .chart_title,
.DOPE .chart_title,
.DTB .chart_title,
.DYN .chart_title,
.EBST .chart_title,
.EDG .chart_title,
.EFL .chart_title,
.EGC .chart_title,
.EMC .chart_title,
.EMC2 .chart_title,
.ENG .chart_title,
.ENRG .chart_title,
.ERC .chart_title,
.ETC .chart_title,
.ETH .chart_title,
.EXCL .chart_title,
.EXP .chart_title,
.FAIR .chart_title,
.FCT .chart_title,
.FLDC .chart_title,
.FLO .chart_title,
.FTC .chart_title,
.GAM .chart_title,
.GAME .chart_title,
.GBG .chart_title,
.GBYTE .chart_title,
.GCR .chart_title,
.GEO .chart_title,
.GLD .chart_title,
.GNO .chart_title,
.GNT .chart_title,
.GOLOS .chart_title,
.GRC .chart_title,
.GRS .chart_title,
.GUP .chart_title,
.HMQ .chart_title,
.I .chart_title,
.IGNIS .chart_title,
.INCNT .chart_title,
.IOC .chart_title,
.ION .chart_title,
.IOP .chart_title,
.KMD .chart_title,
.KORE .chart_title,
.LBC .chart_title,
.LGD .chart_title,
.LMC .chart_title,
.LRC .chart_title,
.LSK .chart_title,
.LTC .chart_title,
.LUN .chart_title,
.MANA .chart_title,
.MCO .chart_title,
.MEME .chart_title,
.Memetic .chart_title,
.MER .chart_title,
.MLN .chart_title,
.MONA .chart_title,
.MUE .chart_title,
.MUSIC .chart_title,
.NAV .chart_title,
.NBT .chart_title,
.NEO .chart_title,
.NEOS .chart_title,
.NLG .chart_title,
.NMR .chart_title,
.NXC .chart_title,
.NXS .chart_title,
.NXT .chart_title,
.OK .chart_title,
.OMG .chart_title,
.OMNI .chart_title,
.PART .chart_title,
.PAY .chart_title,
.PDC .chart_title,
.PINK .chart_title,
.PIVX .chart_title,
.PKB .chart_title,
.POT .chart_title,
.POWR .chart_title,
.PPC .chart_title,
.PTC .chart_title,
.PTOY .chart_title,
.QRL .chart_title,
.QTUM .chart_title,
.QWARK .chart_title,
.RADS .chart_title,
.RBY .chart_title,
.RCN .chart_title,
.RDD .chart_title,
.REP .chart_title,
.RLC .chart_title,
.RVR .chart_title,
.SALT .chart_title,
.SBD .chart_title,
.SC .chart_title,
.SEQ .chart_title,
.SHIFT .chart_title,
.SIB .chart_title,
.SLR .chart_title,
.SLS .chart_title,
.SNRG .chart_title,
.SNT .chart_title,
.SPHR .chart_title,
.SPR .chart_title,
.SRN .chart_title,
.START .chart_title,
.STEEM .chart_title,
.STORJ .chart_title,
.STRAT .chart_title,
.SWIFT .chart_title,
.SWT .chart_title,
.SYNX .chart_title,
.SYS .chart_title,
.THC .chart_title,
.TIX .chart_title,
.TKS .chart_title,
.TRST .chart_title,
.TRUST .chart_title,
.TRX .chart_title,
.TUSD .chart_title,
.TX .chart_title,
.UBQ .chart_title,
.UKG .chart_title,
.UNB .chart_title,
.UP .chart_title,
.VEE .chart_title,
.VIA .chart_title,
.VIB .chart_title,
.VRC .chart_title,
.VRM .chart_title,
.VTC .chart_title,
.VTR .chart_title,
.WAVES .chart_title,
.WAX .chart_title,
.WINGS .chart_title,
.XCP .chart_title,
.XDN .chart_title,
.XEL .chart_title,
.XEM .chart_title,
.XLM .chart_title,
.XMG .chart_title,
.XMR .chart_title,
.XMY .chart_title,
.XRP .chart_title,
.XST .chart_title,
.XVC .chart_title,
.XVG .chart_title,
.XWC .chart_title,
.XZC .chart_title,
.ZCL .chart_title,
.ZEC .chart_title,
.ZEN .chart_title,
.ZRX .chart_title,
.reeeeeeee{
	color:#8b4789; 
  	font-weight:900; 
	margin-bottom:2px;
	}
	
