body > div.charts > a > div.BCH {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.DASH {display:block!important;}
body > div.charts > a > div.DOGE {display:block!important;}
body > div.charts > a > div.ETC {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.KICK {display:block!important;}
body > div.charts > a > div.LTC {display:block!important;}
body > div.charts > a > div.USDT {display:block!important;}
body > div.charts > a > div.WAVES {display:block!important;}
body > div.charts > a > div.XMR {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div.ZEC {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:'Exchange: exmo';}
button.exmo {font-weight:900!important; font-size:15px!important;}
