.BCH .chart_title,
.BTC .chart_title,
.DASH .chart_title,
.DOGE .chart_title,
.ETC .chart_title,
.ETH .chart_title,
.KICK .chart_title,
.LTC .chart_title,
.USDT .chart_title,
.WAVES .chart_title,
.XMR .chart_title,
.XRP .chart_title,
.ZEC .chart_title,
.reeeeeeee{
	color:#c1cdc1; 
  	font-weight:900; 
	margin-bottom:2px;
	}
	
