.BCC .chart_title,
.BCD .chart_title,
.BOT .chart_title,
.BTC .chart_title,
.BTM .chart_title,
.BTS .chart_title,
.CAN .chart_title,
.CFUN .chart_title,
.CHAT .chart_title,
.EOS .chart_title,
.EPC .chart_title,
.ETC .chart_title,
.ETH .chart_title,
.ETP .chart_title,
.HPY .chart_title,
.HSR .chart_title,
.INK .chart_title,
.LBTC .chart_title,
.LTC .chart_title,
.MCO .chart_title,
.MONA .chart_title,
.QASH .chart_title,
.QBT .chart_title,
.QTUM .chart_title,
.SBTC .chart_title,
.SEXC .chart_title,
.SPC .chart_title,
.TSL .chart_title,
.UBTC .chart_title,
.VLC .chart_title,
.XWC .chart_title,
.reeeeeeee{
	color:#cdc673; 
  	font-weight:900; 
	margin-bottom:2px;
	}
	
