body > div.charts > a > div.ABT {display:block!important;}
body > div.charts > a > div.ADA {display:block!important;}
body > div.charts > a > div.AE {display:block!important;}
body > div.charts > a > div.ARN {display:block!important;}
body > div.charts > a > div.BAT {display:block!important;}
body > div.charts > a > div.BCD {display:block!important;}
body > div.charts > a > div.BCDN {display:block!important;}
body > div.charts > a > div.BCH {display:block!important;}
body > div.charts > a > div.BCX {display:block!important;}
body > div.charts > a > div.BFT {display:block!important;}
body > div.charts > a > div.BLZ {display:block!important;}
body > div.charts > a > div.BNT {display:block!important;}
body > div.charts > a > div.BNTY {display:block!important;}
body > div.charts > a > div.BOT {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.BTG {display:block!important;}
body > div.charts > a > div.BTM {display:block!important;}
body > div.charts > a > div.BTO {display:block!important;}
body > div.charts > a > div.BTS {display:block!important;}
body > div.charts > a > div.CDT {display:block!important;}
body > div.charts > a > div.COFI {display:block!important;}
body > div.charts > a > div.CS {display:block!important;}
body > div.charts > a > div.CTR {display:block!important;}
body > div.charts > a > div.CVC {display:block!important;}
body > div.charts > a > div.DADI {display:block!important;}
body > div.charts > a > div.DAI {display:block!important;}
body > div.charts > a > div.DASH {display:block!important;}
body > div.charts > a > div.DATA {display:block!important;}
body > div.charts > a > div.DBC {display:block!important;}
body > div.charts > a > div.DDD {display:block!important;}
body > div.charts > a > div.DGD {display:block!important;}
body > div.charts > a > div.DNT {display:block!important;}
body > div.charts > a > div.DOGE {display:block!important;}
body > div.charts > a > div.DPY {display:block!important;}
body > div.charts > a > div.DRGN {display:block!important;}
body > div.charts > a > div.ELEC {display:block!important;}
body > div.charts > a > div.ELF {display:block!important;}
body > div.charts > a > div.EOS {display:block!important;}
body > div.charts > a > div.ETC {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.FIL {display:block!important;}
body > div.charts > a > div.FUEL {display:block!important;}
body > div.charts > a > div.FUN {display:block!important;}
body > div.charts > a > div.GAS {display:block!important;}
body > div.charts > a > div.GEM {display:block!important;}
body > div.charts > a > div.GNT {display:block!important;}
body > div.charts > a > div.GNX {display:block!important;}
body > div.charts > a > div.GOD {display:block!important;}
body > div.charts > a > div.GTC {display:block!important;}
body > div.charts > a > div.GXS {display:block!important;}
body > div.charts > a > div.HAV {display:block!important;}
body > div.charts > a > div.HSR {display:block!important;}
body > div.charts > a > div.ICX {display:block!important;}
body > div.charts > a > div.IHT {display:block!important;}
body > div.charts > a > div.INK {display:block!important;}
body > div.charts > a > div.INSTAR {display:block!important;}
body > div.charts > a > div.IOTA {display:block!important;}
body > div.charts > a > div.JNT {display:block!important;}
body > div.charts > a > div.KICK {display:block!important;}
body > div.charts > a > div.KNC {display:block!important;}
body > div.charts > a > div.LEDU {display:block!important;}
body > div.charts > a > div.LEND {display:block!important;}
body > div.charts > a > div.LINK {display:block!important;}
body > div.charts > a > div.LLT {display:block!important;}
body > div.charts > a > div.LRC {display:block!important;}
body > div.charts > a > div.LSK {display:block!important;}
body > div.charts > a > div.LST {display:block!important;}
body > div.charts > a > div.LTC {display:block!important;}
body > div.charts > a > div.LUN {display:block!important;}
body > div.charts > a > div.LYM {display:block!important;}
body > div.charts > a > div.MAN {display:block!important;}
body > div.charts > a > div.MANA {display:block!important;}
body > div.charts > a > div.MCO {display:block!important;}
body > div.charts > a > div.MDA {display:block!important;}
body > div.charts > a > div.MDS {display:block!important;}
body > div.charts > a > div.MDT {display:block!important;}
body > div.charts > a > div.MED {display:block!important;}
body > div.charts > a > div.MKR {display:block!important;}
body > div.charts > a > div.MOBI {display:block!important;}
body > div.charts > a > div.MTN {display:block!important;}
body > div.charts > a > div.NAS {display:block!important;}
body > div.charts > a > div.NEO {display:block!important;}
body > div.charts > a > div.OAX {display:block!important;}
body > div.charts > a > div.OCN {display:block!important;}
body > div.charts > a > div.OMG {display:block!important;}
body > div.charts > a > div.ONT {display:block!important;}
body > div.charts > a > div.OST {display:block!important;}
body > div.charts > a > div.PAY {display:block!important;}
body > div.charts > a > div.POWR {display:block!important;}
body > div.charts > a > div.PST {display:block!important;}
body > div.charts > a > div.QASH {display:block!important;}
body > div.charts > a > div.QBT {display:block!important;}
body > div.charts > a > div.QLC {display:block!important;}
body > div.charts > a > div.QSP {display:block!important;}
body > div.charts > a > div.QTUM {display:block!important;}
body > div.charts > a > div.RCN {display:block!important;}
body > div.charts > a > div.RDN {display:block!important;}
body > div.charts > a > div.REM {display:block!important;}
body > div.charts > a > div.REP {display:block!important;}
body > div.charts > a > div.REQ {display:block!important;}
body > div.charts > a > div.RFR {display:block!important;}
body > div.charts > a > div.RLC {display:block!important;}
body > div.charts > a > div.RUFF {display:block!important;}
body > div.charts > a > div.SALT {display:block!important;}
body > div.charts > a > div.SBTC {display:block!important;}
body > div.charts > a > div.SENC {display:block!important;}
body > div.charts > a > div.SMT {display:block!important;}
body > div.charts > a > div.SNT {display:block!important;}
body > div.charts > a > div.STORJ {display:block!important;}
body > div.charts > a > div.STX {display:block!important;}
body > div.charts > a > div.SWH {display:block!important;}
body > div.charts > a > div.TFD {display:block!important;}
body > div.charts > a > div.THETA {display:block!important;}
body > div.charts > a > div.TIO {display:block!important;}
body > div.charts > a > div.TIPS {display:block!important;}
body > div.charts > a > div.TNC {display:block!important;}
body > div.charts > a > div.TNT {display:block!important;}
body > div.charts > a > div.TOMO {display:block!important;}
body > div.charts > a > div.TRX {display:block!important;}
body > div.charts > a > div.TSL {display:block!important;}
body > div.charts > a > div.VEN {display:block!important;}
body > div.charts > a > div.WAVES {display:block!important;}
body > div.charts > a > div.WINGS {display:block!important;}
body > div.charts > a > div.XLM {display:block!important;}
body > div.charts > a > div.XMR {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div.XTZ {display:block!important;}
body > div.charts > a > div.ZEC {display:block!important;}
body > div.charts > a > div.ZIL {display:block!important;}
body > div.charts > a > div.ZPT {display:block!important;}
body > div.charts > a > div.ZRX {display:block!important;}
body > div.charts > a > div.ZSC {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:'Exchange: gate-io';}
button.gate-io {font-weight:900!important; font-size:15px!important;}
