body > div.charts > a > div.ACT {display:block!important;}
body > div.charts > a > div.ADA {display:block!important;}
body > div.charts > a > div.ADX {display:block!important;}
body > div.charts > a > div.AE {display:block!important;}
body > div.charts > a > div.AEON {display:block!important;}
body > div.charts > a > div.AIR {display:block!important;}
body > div.charts > a > div.AMB {display:block!important;}
body > div.charts > a > div.AMM {display:block!important;}
body > div.charts > a > div.AMP {display:block!important;}
body > div.charts > a > div.ANT {display:block!important;}
body > div.charts > a > div.ARCT {display:block!important;}
body > div.charts > a > div.ARDR {display:block!important;}
body > div.charts > a > div.ARN {display:block!important;}
body > div.charts > a > div.ART {display:block!important;}
body > div.charts > a > div.ATB {display:block!important;}
body > div.charts > a > div.ATL {display:block!important;}
body > div.charts > a > div.ATM {display:block!important;}
body > div.charts > a > div.ATS {display:block!important;}
body > div.charts > a > div.AUTO {display:block!important;}
body > div.charts > a > div.AVH {display:block!important;}
body > div.charts > a > div.AVT {display:block!important;}
body > div.charts > a > div.AXP {display:block!important;}
body > div.charts > a > div.B2X {display:block!important;}
body > div.charts > a > div.BANCA {display:block!important;}
body > div.charts > a > div.BAR {display:block!important;}
body > div.charts > a > div.BAS {display:block!important;}
body > div.charts > a > div.BCH {display:block!important;}
body > div.charts > a > div.BCN {display:block!important;}
body > div.charts > a > div.BCPT {display:block!important;}
body > div.charts > a > div.BDG {display:block!important;}
body > div.charts > a > div.BET {display:block!important;}
body > div.charts > a > div.BEZ {display:block!important;}
body > div.charts > a > div.BMC {display:block!important;}
body > div.charts > a > div.BNT {display:block!important;}
body > div.charts > a > div.BQX {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.BTCA {display:block!important;}
body > div.charts > a > div.BTG {display:block!important;}
body > div.charts > a > div.BTM {display:block!important;}
body > div.charts > a > div.BTX {display:block!important;}
body > div.charts > a > div.C20 {display:block!important;}
body > div.charts > a > div.CAS {display:block!important;}
body > div.charts > a > div.CAT {display:block!important;}
body > div.charts > a > div.CCT {display:block!important;}
body > div.charts > a > div.CDT {display:block!important;}
body > div.charts > a > div.CDX {display:block!important;}
body > div.charts > a > div.CFI {display:block!important;}
body > div.charts > a > div.CHAT {display:block!important;}
body > div.charts > a > div.CHP {display:block!important;}
body > div.charts > a > div.CHSB {display:block!important;}
body > div.charts > a > div.CL {display:block!important;}
body > div.charts > a > div.CLD {display:block!important;}
body > div.charts > a > div.CLR {display:block!important;}
body > div.charts > a > div.CND {display:block!important;}
body > div.charts > a > div.CNX {display:block!important;}
body > div.charts > a > div.COSS {display:block!important;}
body > div.charts > a > div.COV {display:block!important;}
body > div.charts > a > div.CPAY {display:block!important;}
body > div.charts > a > div.CPY {display:block!important;}
body > div.charts > a > div.CRPT {display:block!important;}
body > div.charts > a > div.CSNO {display:block!important;}
body > div.charts > a > div.CTR {display:block!important;}
body > div.charts > a > div.CTX {display:block!important;}
body > div.charts > a > div.CVC {display:block!important;}
body > div.charts > a > div.DADI {display:block!important;}
body > div.charts > a > div.DASH {display:block!important;}
body > div.charts > a > div.DATA {display:block!important;}
body > div.charts > a > div.DATX {display:block!important;}
body > div.charts > a > div.DBET {display:block!important;}
body > div.charts > a > div.DBIX {display:block!important;}
body > div.charts > a > div.DCN {display:block!important;}
body > div.charts > a > div.DCT {display:block!important;}
body > div.charts > a > div.DDF {display:block!important;}
body > div.charts > a > div.DENT {display:block!important;}
body > div.charts > a > div.DGB {display:block!important;}
body > div.charts > a > div.DGD {display:block!important;}
body > div.charts > a > div.DICE {display:block!important;}
body > div.charts > a > div.DIM {display:block!important;}
body > div.charts > a > div.DLT {display:block!important;}
body > div.charts > a > div.DNT {display:block!important;}
body > div.charts > a > div.DOGE {display:block!important;}
body > div.charts > a > div.DOV {display:block!important;}
body > div.charts > a > div.DRG {display:block!important;}
body > div.charts > a > div.DRPU {display:block!important;}
body > div.charts > a > div.DRT {display:block!important;}
body > div.charts > a > div.DSH {display:block!important;}
body > div.charts > a > div.EBET {display:block!important;}
body > div.charts > a > div.EBTCNEW {display:block!important;}
body > div.charts > a > div.ECH {display:block!important;}
body > div.charts > a > div.EDG {display:block!important;}
body > div.charts > a > div.EDO {display:block!important;}
body > div.charts > a > div.EKO {display:block!important;}
body > div.charts > a > div.ELE {display:block!important;}
body > div.charts > a > div.EMC {display:block!important;}
body > div.charts > a > div.EMGO {display:block!important;}
body > div.charts > a > div.ENG {display:block!important;}
body > div.charts > a > div.ENJ {display:block!important;}
body > div.charts > a > div.EOS {display:block!important;}
body > div.charts > a > div.ERO {display:block!important;}
body > div.charts > a > div.ETBS {display:block!important;}
body > div.charts > a > div.ETC {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.ETP {display:block!important;}
body > div.charts > a > div.EVN {display:block!important;}
body > div.charts > a > div.EVX {display:block!important;}
body > div.charts > a > div.EXN {display:block!important;}
body > div.charts > a > div.FCN {display:block!important;}
body > div.charts > a > div.FRD {display:block!important;}
body > div.charts > a > div.FUEL {display:block!important;}
body > div.charts > a > div.FUN {display:block!important;}
body > div.charts > a > div.FYN {display:block!important;}
body > div.charts > a > div.FYP {display:block!important;}
body > div.charts > a > div.GAME {display:block!important;}
body > div.charts > a > div.GNO {display:block!important;}
body > div.charts > a > div.GNX {display:block!important;}
body > div.charts > a > div.GUP {display:block!important;}
body > div.charts > a > div.GVT {display:block!important;}
body > div.charts > a > div.HAC {display:block!important;}
body > div.charts > a > div.HGT {display:block!important;}
body > div.charts > a > div.HIRE {display:block!important;}
body > div.charts > a > div.HPC {display:block!important;}
body > div.charts > a > div.HSR {display:block!important;}
body > div.charts > a > div.HVN {display:block!important;}
body > div.charts > a > div.ICN {display:block!important;}
body > div.charts > a > div.ICOS {display:block!important;}
body > div.charts > a > div.ICX {display:block!important;}
body > div.charts > a > div.IDH {display:block!important;}
body > div.charts > a > div.IFT {display:block!important;}
body > div.charts > a > div.IGNIS {display:block!important;}
body > div.charts > a > div.IND {display:block!important;}
body > div.charts > a > div.INDI {display:block!important;}
body > div.charts > a > div.IOTA {display:block!important;}
body > div.charts > a > div.IPL {display:block!important;}
body > div.charts > a > div.IXT {display:block!important;}
body > div.charts > a > div.JNT {display:block!important;}
body > div.charts > a > div.KBR {display:block!important;}
body > div.charts > a > div.KICK {display:block!important;}
body > div.charts > a > div.KMD {display:block!important;}
body > div.charts > a > div.LA {display:block!important;}
body > div.charts > a > div.LEND {display:block!important;}
body > div.charts > a > div.LIFE {display:block!important;}
body > div.charts > a > div.LOC {display:block!important;}
body > div.charts > a > div.LRC {display:block!important;}
body > div.charts > a > div.LSK {display:block!important;}
body > div.charts > a > div.LTC {display:block!important;}
body > div.charts > a > div.LUN {display:block!important;}
body > div.charts > a > div.MAID {display:block!important;}
body > div.charts > a > div.MANA {display:block!important;}
body > div.charts > a > div.MCAP {display:block!important;}
body > div.charts > a > div.MCO {display:block!important;}
body > div.charts > a > div.MNE {display:block!important;}
body > div.charts > a > div.MSP {display:block!important;}
body > div.charts > a > div.MTH {display:block!important;}
body > div.charts > a > div.MTX {display:block!important;}
body > div.charts > a > div.MYB {display:block!important;}
body > div.charts > a > div.NDC {display:block!important;}
body > div.charts > a > div.NEBL {display:block!important;}
body > div.charts > a > div.NEO {display:block!important;}
body > div.charts > a > div.NET {display:block!important;}
body > div.charts > a > div.NEU {display:block!important;}
body > div.charts > a > div.NGC {display:block!important;}
body > div.charts > a > div.NOAH {display:block!important;}
body > div.charts > a > div.NTO {display:block!important;}
body > div.charts > a > div.NXC {display:block!important;}
body > div.charts > a > div.NXT {display:block!important;}
body > div.charts > a > div.OAX {display:block!important;}
body > div.charts > a > div.OCN {display:block!important;}
body > div.charts > a > div.ODN {display:block!important;}
body > div.charts > a > div.OMG {display:block!important;}
body > div.charts > a > div.OPT {display:block!important;}
body > div.charts > a > div.ORME {display:block!important;}
body > div.charts > a > div.OTN {display:block!important;}
body > div.charts > a > div.OTX {display:block!important;}
body > div.charts > a > div.PAY {display:block!important;}
body > div.charts > a > div.PCL {display:block!important;}
body > div.charts > a > div.PING {display:block!important;}
body > div.charts > a > div.PIX {display:block!important;}
body > div.charts > a > div.PKT {display:block!important;}
body > div.charts > a > div.PLBT {display:block!important;}
body > div.charts > a > div.PLR {display:block!important;}
body > div.charts > a > div.PLU {display:block!important;}
body > div.charts > a > div.POE {display:block!important;}
body > div.charts > a > div.POLL {display:block!important;}
body > div.charts > a > div.PPC {display:block!important;}
body > div.charts > a > div.PPT {display:block!important;}
body > div.charts > a > div.PRE {display:block!important;}
body > div.charts > a > div.PRG {display:block!important;}
body > div.charts > a > div.PRO {display:block!important;}
body > div.charts > a > div.PTOY {display:block!important;}
body > div.charts > a > div.QAU {display:block!important;}
body > div.charts > a > div.QCN {display:block!important;}
body > div.charts > a > div.QTUM {display:block!important;}
body > div.charts > a > div.QVT {display:block!important;}
body > div.charts > a > div.R {display:block!important;}
body > div.charts > a > div.REP {display:block!important;}
body > div.charts > a > div.RKC {display:block!important;}
body > div.charts > a > div.RLC {display:block!important;}
body > div.charts > a > div.RNTB {display:block!important;}
body > div.charts > a > div.RVT {display:block!important;}
body > div.charts > a > div.SAN {display:block!important;}
body > div.charts > a > div.SBD {display:block!important;}
body > div.charts > a > div.SBTC {display:block!important;}
body > div.charts > a > div.SC {display:block!important;}
body > div.charts > a > div.SCC {display:block!important;}
body > div.charts > a > div.SCL {display:block!important;}
body > div.charts > a > div.SETH {display:block!important;}
body > div.charts > a > div.SIG {display:block!important;}
body > div.charts > a > div.SISA {display:block!important;}
body > div.charts > a > div.SKIN {display:block!important;}
body > div.charts > a > div.SMART {display:block!important;}
body > div.charts > a > div.SMS {display:block!important;}
body > div.charts > a > div.SMT {display:block!important;}
body > div.charts > a > div.SNC {display:block!important;}
body > div.charts > a > div.SNGLS {display:block!important;}
body > div.charts > a > div.SNM {display:block!important;}
body > div.charts > a > div.SNT {display:block!important;}
body > div.charts > a > div.SOC {display:block!important;}
body > div.charts > a > div.SPF {display:block!important;}
body > div.charts > a > div.STAR {display:block!important;}
body > div.charts > a > div.STEEM {display:block!important;}
body > div.charts > a > div.STORM {display:block!important;}
body > div.charts > a > div.STQ {display:block!important;}
body > div.charts > a > div.STRAT {display:block!important;}
body > div.charts > a > div.STU {display:block!important;}
body > div.charts > a > div.STX {display:block!important;}
body > div.charts > a > div.SUB {display:block!important;}
body > div.charts > a > div.SUR {display:block!important;}
body > div.charts > a > div.SWFTC {display:block!important;}
body > div.charts > a > div.SWT {display:block!important;}
body > div.charts > a > div.TAAS {display:block!important;}
body > div.charts > a > div.TAU {display:block!important;}
body > div.charts > a > div.TEL {display:block!important;}
body > div.charts > a > div.TGT {display:block!important;}
body > div.charts > a > div.TIME {display:block!important;}
body > div.charts > a > div.TIO {display:block!important;}
body > div.charts > a > div.TIX {display:block!important;}
body > div.charts > a > div.TKN {display:block!important;}
body > div.charts > a > div.TKR {display:block!important;}
body > div.charts > a > div.TNT {display:block!important;}
body > div.charts > a > div.TRAC {display:block!important;}
body > div.charts > a > div.TRST {display:block!important;}
body > div.charts > a > div.TRUE {display:block!important;}
body > div.charts > a > div.TRX {display:block!important;}
body > div.charts > a > div.UET {display:block!important;}
body > div.charts > a > div.UTK {display:block!important;}
body > div.charts > a > div.UTNP {display:block!important;}
body > div.charts > a > div.UTT {display:block!important;}
body > div.charts > a > div.VEN {display:block!important;}
body > div.charts > a > div.VERI {display:block!important;}
body > div.charts > a > div.VIB {display:block!important;}
body > div.charts > a > div.VIBE {display:block!important;}
body > div.charts > a > div.VIT {display:block!important;}
body > div.charts > a > div.VOISE {display:block!important;}
body > div.charts > a > div.W3C {display:block!important;}
body > div.charts > a > div.WAVES {display:block!important;}
body > div.charts > a > div.WAX {display:block!important;}
body > div.charts > a > div.WILD {display:block!important;}
body > div.charts > a > div.WINGS {display:block!important;}
body > div.charts > a > div.WRC {display:block!important;}
body > div.charts > a > div.WTC {display:block!important;}
body > div.charts > a > div.XAUR {display:block!important;}
body > div.charts > a > div.XDN {display:block!important;}
body > div.charts > a > div.XEM {display:block!important;}
body > div.charts > a > div.XLM {display:block!important;}
body > div.charts > a > div.XMR {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div.XTZ {display:block!important;}
body > div.charts > a > div.XUC {display:block!important;}
body > div.charts > a > div.XVG {display:block!important;}
body > div.charts > a > div.YOYOW {display:block!important;}
body > div.charts > a > div.ZAP {display:block!important;}
body > div.charts > a > div.ZEC {display:block!important;}
body > div.charts > a > div.ZRC {display:block!important;}
body > div.charts > a > div.ZRX {display:block!important;}
body > div.charts > a > div.ZSC {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:'Exchange: hitbtc';}
button.hitbtc {font-weight:900!important; font-size:15px!important;}
