.ACT .chart_title,
.ADA .chart_title,
.ADX .chart_title,
.AE .chart_title,
.AEON .chart_title,
.AIR .chart_title,
.AMB .chart_title,
.AMM .chart_title,
.AMP .chart_title,
.ANT .chart_title,
.ARCT .chart_title,
.ARDR .chart_title,
.ARN .chart_title,
.ART .chart_title,
.ATB .chart_title,
.ATL .chart_title,
.ATM .chart_title,
.ATS .chart_title,
.AUTO .chart_title,
.AVH .chart_title,
.AVT .chart_title,
.B2X .chart_title,
.BANCA .chart_title,
.BAR .chart_title,
.BAS .chart_title,
.BCH .chart_title,
.BCN .chart_title,
.BCPT .chart_title,
.BDG .chart_title,
.BET .chart_title,
.BEZ .chart_title,
.BMC .chart_title,
.BNT .chart_title,
.BQX .chart_title,
.BTC .chart_title,
.BTCA .chart_title,
.BTG .chart_title,
.BTM .chart_title,
.BTX .chart_title,
.C20 .chart_title,
.CAS .chart_title,
.CAT .chart_title,
.CCT .chart_title,
.CDT .chart_title,
.CDX .chart_title,
.CFI .chart_title,
.CHAT .chart_title,
.CHP .chart_title,
.CHSB .chart_title,
.CL .chart_title,
.CLD .chart_title,
.CND .chart_title,
.CNX .chart_title,
.COSS .chart_title,
.COV .chart_title,
.CPAY .chart_title,
.CPY .chart_title,
.CRPT .chart_title,
.CSNO .chart_title,
.CTR .chart_title,
.CTX .chart_title,
.CVC .chart_title,
.DADI .chart_title,
.DASH .chart_title,
.DATA .chart_title,
.DATX .chart_title,
.DBET .chart_title,
.DBIX .chart_title,
.DCN .chart_title,
.DCT .chart_title,
.DDF .chart_title,
.DENT .chart_title,
.DGB .chart_title,
.DGD .chart_title,
.DICE .chart_title,
.DIM .chart_title,
.DLT .chart_title,
.DNT .chart_title,
.DOGE .chart_title,
.DOV .chart_title,
.DRG .chart_title,
.DRPU .chart_title,
.DRT .chart_title,
.DSH .chart_title,
.EBET .chart_title,
.EBTCNEW .chart_title,
.ECH .chart_title,
.EDG .chart_title,
.EDO .chart_title,
.EKO .chart_title,
.ELE .chart_title,
.EMC .chart_title,
.EMGO .chart_title,
.ENG .chart_title,
.ENJ .chart_title,
.EOS .chart_title,
.ERO .chart_title,
.ETBS .chart_title,
.ETC .chart_title,
.ETH .chart_title,
.ETP .chart_title,
.EVN .chart_title,
.EVX .chart_title,
.EXN .chart_title,
.FCN .chart_title,
.FRD .chart_title,
.FUEL .chart_title,
.FUN .chart_title,
.FYN .chart_title,
.FYP .chart_title,
.GAME .chart_title,
.GNO .chart_title,
.GNX .chart_title,
.GUP .chart_title,
.GVT .chart_title,
.HAC .chart_title,
.HGT .chart_title,
.HIRE .chart_title,
.HPC .chart_title,
.HSR .chart_title,
.HVN .chart_title,
.ICN .chart_title,
.ICOS .chart_title,
.ICX .chart_title,
.IDH .chart_title,
.IFT .chart_title,
.IGNIS .chart_title,
.IND .chart_title,
.INDI .chart_title,
.IOTA .chart_title,
.IPL .chart_title,
.IXT .chart_title,
.JNT .chart_title,
.KBR .chart_title,
.KICK .chart_title,
.KMD .chart_title,
.LA .chart_title,
.LEND .chart_title,
.LIFE .chart_title,
.LOC .chart_title,
.LRC .chart_title,
.LSK .chart_title,
.LTC .chart_title,
.LUN .chart_title,
.MAID .chart_title,
.MANA .chart_title,
.MCAP .chart_title,
.MCO .chart_title,
.MNE .chart_title,
.MSP .chart_title,
.MTH .chart_title,
.MTX .chart_title,
.MYB .chart_title,
.NDC .chart_title,
.NEBL .chart_title,
.NEO .chart_title,
.NET .chart_title,
.NEU .chart_title,
.NGC .chart_title,
.NOAH .chart_title,
.NTO .chart_title,
.NXC .chart_title,
.NXT .chart_title,
.OAX .chart_title,
.OCN .chart_title,
.ODN .chart_title,
.OMG .chart_title,
.OPT .chart_title,
.ORME .chart_title,
.OTN .chart_title,
.OTX .chart_title,
.PAY .chart_title,
.PCL .chart_title,
.PING .chart_title,
.PIX .chart_title,
.PKT .chart_title,
.PLBT .chart_title,
.PLR .chart_title,
.PLU .chart_title,
.POE .chart_title,
.POLL .chart_title,
.PPC .chart_title,
.PPT .chart_title,
.PRE .chart_title,
.PRG .chart_title,
.PRO .chart_title,
.PTOY .chart_title,
.QAU .chart_title,
.QCN .chart_title,
.QTUM .chart_title,
.QVT .chart_title,
.R .chart_title,
.REP .chart_title,
.RKC .chart_title,
.RLC .chart_title,
.RNTB .chart_title,
.RVT .chart_title,
.SAN .chart_title,
.SBD .chart_title,
.SBTC .chart_title,
.SC .chart_title,
.SCL .chart_title,
.SETH .chart_title,
.SIG .chart_title,
.SISA .chart_title,
.SKIN .chart_title,
.SMART .chart_title,
.SMS .chart_title,
.SMT .chart_title,
.SNC .chart_title,
.SNGLS .chart_title,
.SNM .chart_title,
.SNT .chart_title,
.SOC .chart_title,
.SPF .chart_title,
.STAR .chart_title,
.STEEM .chart_title,
.STORM .chart_title,
.STQ .chart_title,
.STRAT .chart_title,
.STU .chart_title,
.STX .chart_title,
.SUB .chart_title,
.SUR .chart_title,
.SWFTC .chart_title,
.SWT .chart_title,
.TAAS .chart_title,
.TAU .chart_title,
.TGT .chart_title,
.TIME .chart_title,
.TIO .chart_title,
.TIX .chart_title,
.TKN .chart_title,
.TKR .chart_title,
.TNT .chart_title,
.TRAC .chart_title,
.TRST .chart_title,
.TRUE .chart_title,
.TRX .chart_title,
.UET .chart_title,
.UTK .chart_title,
.UTNP .chart_title,
.UTT .chart_title,
.VEN .chart_title,
.VERI .chart_title,
.VIB .chart_title,
.VIBE .chart_title,
.VOISE .chart_title,
.W3C .chart_title,
.WAVES .chart_title,
.WAX .chart_title,
.WILD .chart_title,
.WINGS .chart_title,
.WRC .chart_title,
.WTC .chart_title,
.XAUR .chart_title,
.XDN .chart_title,
.XEM .chart_title,
.XLM .chart_title,
.XMR .chart_title,
.XRP .chart_title,
.XTZ .chart_title,
.XUC .chart_title,
.XVG .chart_title,
.YOYOW .chart_title,
.ZAP .chart_title,
.ZEC .chart_title,
.ZRC .chart_title,
.ZRX .chart_title,
.ZSC .chart_title,
.reeeeeeee{
	color:#ee7600; 
  	font-weight:900; 
	margin-bottom:2px;
	}
	
