body > div.charts > a > div.ABT {display:block!important;}
body > div.charts > a > div.ACT {display:block!important;}
body > div.charts > a > div.ADX {display:block!important;}
body > div.charts > a > div.AIDOC {display:block!important;}
body > div.charts > a > div.APPC {display:block!important;}
body > div.charts > a > div.AST {display:block!important;}
body > div.charts > a > div.BAT {display:block!important;}
body > div.charts > a > div.BCD {display:block!important;}
body > div.charts > a > div.BCH {display:block!important;}
body > div.charts > a > div.BCX {display:block!important;}
body > div.charts > a > div.BLZ {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.BTG {display:block!important;}
body > div.charts > a > div.BTM {display:block!important;}
body > div.charts > a > div.CHAT {display:block!important;}
body > div.charts > a > div.CMT {display:block!important;}
body > div.charts > a > div.CVC {display:block!important;}
body > div.charts > a > div.DASH {display:block!important;}
body > div.charts > a > div.DAT {display:block!important;}
body > div.charts > a > div.DBC {display:block!important;}
body > div.charts > a > div.DGD {display:block!important;}
body > div.charts > a > div.DTA {display:block!important;}
body > div.charts > a > div.EKO {display:block!important;}
body > div.charts > a > div.ELA {display:block!important;}
body > div.charts > a > div.ELF {display:block!important;}
body > div.charts > a > div.ENG {display:block!important;}
body > div.charts > a > div.EOS {display:block!important;}
body > div.charts > a > div.ETC {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.EVX {display:block!important;}
body > div.charts > a > div.GAS {display:block!important;}
body > div.charts > a > div.GNT {display:block!important;}
body > div.charts > a > div.GNX {display:block!important;}
body > div.charts > a > div.HSR {display:block!important;}
body > div.charts > a > div.HT {display:block!important;}
body > div.charts > a > div.ICX {display:block!important;}
body > div.charts > a > div.IOST {display:block!important;}
body > div.charts > a > div.ITC {display:block!important;}
body > div.charts > a > div.KNC {display:block!important;}
body > div.charts > a > div.LET {display:block!important;}
body > div.charts > a > div.LINK {display:block!important;}
body > div.charts > a > div.LSK {display:block!important;}
body > div.charts > a > div.LTC {display:block!important;}
body > div.charts > a > div.LUN {display:block!important;}
body > div.charts > a > div.MANA {display:block!important;}
body > div.charts > a > div.MCO {display:block!important;}
body > div.charts > a > div.MDS {display:block!important;}
body > div.charts > a > div.MEE {display:block!important;}
body > div.charts > a > div.MTL {display:block!important;}
body > div.charts > a > div.MTN {display:block!important;}
body > div.charts > a > div.MTX {display:block!important;}
body > div.charts > a > div.NAS {display:block!important;}
body > div.charts > a > div.NEO {display:block!important;}
body > div.charts > a > div.OCN {display:block!important;}
body > div.charts > a > div.OMG {display:block!important;}
body > div.charts > a > div.ONT {display:block!important;}
body > div.charts > a > div.OST {display:block!important;}
body > div.charts > a > div.PAY {display:block!important;}
body > div.charts > a > div.POWR {display:block!important;}
body > div.charts > a > div.PROPY {display:block!important;}
body > div.charts > a > div.QASH {display:block!important;}
body > div.charts > a > div.QSP {display:block!important;}
body > div.charts > a > div.QTUM {display:block!important;}
body > div.charts > a > div.QUN {display:block!important;}
body > div.charts > a > div.RCN {display:block!important;}
body > div.charts > a > div.RDN {display:block!important;}
body > div.charts > a > div.REQ {display:block!important;}
body > div.charts > a > div.RPX {display:block!important;}
body > div.charts > a > div.RUFF {display:block!important;}
body > div.charts > a > div.SALT {display:block!important;}
body > div.charts > a > div.SBTC {display:block!important;}
body > div.charts > a > div.SMT {display:block!important;}
body > div.charts > a > div.SNC {display:block!important;}
body > div.charts > a > div.SNT {display:block!important;}
body > div.charts > a > div.SOC {display:block!important;}
body > div.charts > a > div.SRN {display:block!important;}
body > div.charts > a > div.STK {display:block!important;}
body > div.charts > a > div.STORJ {display:block!important;}
body > div.charts > a > div.SWFTC {display:block!important;}
body > div.charts > a > div.THETA {display:block!important;}
body > div.charts > a > div.TNB {display:block!important;}
body > div.charts > a > div.TNT {display:block!important;}
body > div.charts > a > div.TOPC {display:block!important;}
body > div.charts > a > div.TRX {display:block!important;}
body > div.charts > a > div.UTK {display:block!important;}
body > div.charts > a > div.VEN {display:block!important;}
body > div.charts > a > div.WAX {display:block!important;}
body > div.charts > a > div.WICC {display:block!important;}
body > div.charts > a > div.WPR {display:block!important;}
body > div.charts > a > div.XEM {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div.YEE {display:block!important;}
body > div.charts > a > div.ZEC {display:block!important;}
body > div.charts > a > div.ZIL {display:block!important;}
body > div.charts > a > div.ZLA {display:block!important;}
body > div.charts > a > div.ZRX {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:' huobi';}
button.huobi {font-weight:900!important; font-size:15px!important;}
