body > div.charts > a > div.AAC {display:block!important;}
body > div.charts > a > div.ABT {display:block!important;}
body > div.charts > a > div.ACE {display:block!important;}
body > div.charts > a > div.ACT {display:block!important;}
body > div.charts > a > div.AIDOC {display:block!important;}
body > div.charts > a > div.AMM {display:block!important;}
body > div.charts > a > div.ARK {display:block!important;}
body > div.charts > a > div.AST {display:block!important;}
body > div.charts > a > div.ATL {display:block!important;}
body > div.charts > a > div.AUTO {display:block!important;}
body > div.charts > a > div.AVT {display:block!important;}
body > div.charts > a > div.BCD {display:block!important;}
body > div.charts > a > div.BCH {display:block!important;}
body > div.charts > a > div.BCX {display:block!important;}
body > div.charts > a > div.BKX {display:block!important;}
body > div.charts > a > div.BNT {display:block!important;}
body > div.charts > a > div.BRD {display:block!important;}
body > div.charts > a > div.BT2 {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.BTG {display:block!important;}
body > div.charts > a > div.BTM {display:block!important;}
body > div.charts > a > div.CAG {display:block!important;}
body > div.charts > a > div.CAN {display:block!important;}
body > div.charts > a > div.CHAT {display:block!important;}
body > div.charts > a > div.CMT {display:block!important;}
body > div.charts > a > div.CTR {display:block!important;}
body > div.charts > a > div.CVC {display:block!important;}
body > div.charts > a > div.DADI {display:block!important;}
body > div.charts > a > div.DASH {display:block!important;}
body > div.charts > a > div.DAT {display:block!important;}
body > div.charts > a > div.DENT {display:block!important;}
body > div.charts > a > div.DGB {display:block!important;}
body > div.charts > a > div.DGD {display:block!important;}
body > div.charts > a > div.DNA {display:block!important;}
body > div.charts > a > div.DNT {display:block!important;}
body > div.charts > a > div.DPY {display:block!important;}
body > div.charts > a > div.EDO {display:block!important;}
body > div.charts > a > div.ELF {display:block!important;}
body > div.charts > a > div.ENG {display:block!important;}
body > div.charts > a > div.ENJ {display:block!important;}
body > div.charts > a > div.EOS {display:block!important;}
body > div.charts > a > div.ETC {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.EVX {display:block!important;}
body > div.charts > a > div.FAIR {display:block!important;}
body > div.charts > a > div.FUN {display:block!important;}
body > div.charts > a > div.GAS {display:block!important;}
body > div.charts > a > div.GNT {display:block!important;}
body > div.charts > a > div.GNX {display:block!important;}
body > div.charts > a > div.GTC {display:block!important;}
body > div.charts > a > div.GTO {display:block!important;}
body > div.charts > a > div.HMC {display:block!important;}
body > div.charts > a > div.HOT {display:block!important;}
body > div.charts > a > div.HSR {display:block!important;}
body > div.charts > a > div.ICN {display:block!important;}
body > div.charts > a > div.ICX {display:block!important;}
body > div.charts > a > div.INS {display:block!important;}
body > div.charts > a > div.INT {display:block!important;}
body > div.charts > a > div.IOST {display:block!important;}
body > div.charts > a > div.IOTA {display:block!important;}
body > div.charts > a > div.IPC {display:block!important;}
body > div.charts > a > div.ITC {display:block!important;}
body > div.charts > a > div.KCASH {display:block!important;}
body > div.charts > a > div.KEY {display:block!important;}
body > div.charts > a > div.KNC {display:block!important;}
body > div.charts > a > div.LA {display:block!important;}
body > div.charts > a > div.LEND {display:block!important;}
body > div.charts > a > div.LEV {display:block!important;}
body > div.charts > a > div.LIGHT {display:block!important;}
body > div.charts > a > div.LINK {display:block!important;}
body > div.charts > a > div.LRC {display:block!important;}
body > div.charts > a > div.LTC {display:block!important;}
body > div.charts > a > div.MAG {display:block!important;}
body > div.charts > a > div.MANA {display:block!important;}
body > div.charts > a > div.MCO {display:block!important;}
body > div.charts > a > div.MDA {display:block!important;}
body > div.charts > a > div.MDT {display:block!important;}
body > div.charts > a > div.MITH {display:block!important;}
body > div.charts > a > div.MKR {display:block!important;}
body > div.charts > a > div.MOF {display:block!important;}
body > div.charts > a > div.MOT {display:block!important;}
body > div.charts > a > div.MTH {display:block!important;}
body > div.charts > a > div.MTL {display:block!important;}
body > div.charts > a > div.NANO {display:block!important;}
body > div.charts > a > div.NAS {display:block!important;}
body > div.charts > a > div.NEO {display:block!important;}
body > div.charts > a > div.NGC {display:block!important;}
body > div.charts > a > div.NULS {display:block!important;}
body > div.charts > a > div.OAX {display:block!important;}
body > div.charts > a > div.OF {display:block!important;}
body > div.charts > a > div.OMG {display:block!important;}
body > div.charts > a > div.ONT {display:block!important;}
body > div.charts > a > div.OST {display:block!important;}
body > div.charts > a > div.PAY {display:block!important;}
body > div.charts > a > div.POE {display:block!important;}
body > div.charts > a > div.PPT {display:block!important;}
body > div.charts > a > div.PRA {display:block!important;}
body > div.charts > a > div.PST {display:block!important;}
body > div.charts > a > div.QTUM {display:block!important;}
body > div.charts > a > div.QUN {display:block!important;}
body > div.charts > a > div.QVT {display:block!important;}
body > div.charts > a > div.R {display:block!important;}
body > div.charts > a > div.RCN {display:block!important;}
body > div.charts > a > div.RCT {display:block!important;}
body > div.charts > a > div.RDN {display:block!important;}
body > div.charts > a > div.READ {display:block!important;}
body > div.charts > a > div.REF {display:block!important;}
body > div.charts > a > div.REN {display:block!important;}
body > div.charts > a > div.REQ {display:block!important;}
body > div.charts > a > div.RFR {display:block!important;}
body > div.charts > a > div.RNT {display:block!important;}
body > div.charts > a > div.SALT {display:block!important;}
body > div.charts > a > div.SAN {display:block!important;}
body > div.charts > a > div.SBTC {display:block!important;}
body > div.charts > a > div.SHOW {display:block!important;}
body > div.charts > a > div.SMT {display:block!important;}
body > div.charts > a > div.SNC {display:block!important;}
body > div.charts > a > div.SNGLS {display:block!important;}
body > div.charts > a > div.SNM {display:block!important;}
body > div.charts > a > div.SNT {display:block!important;}
body > div.charts > a > div.SOC {display:block!important;}
body > div.charts > a > div.SPF {display:block!important;}
body > div.charts > a > div.SSC {display:block!important;}
body > div.charts > a > div.STC {display:block!important;}
body > div.charts > a > div.STORJ {display:block!important;}
body > div.charts > a > div.SUB {display:block!important;}
body > div.charts > a > div.SWFTC {display:block!important;}
body > div.charts > a > div.TCT {display:block!important;}
body > div.charts > a > div.THETA {display:block!important;}
body > div.charts > a > div.TIO {display:block!important;}
body > div.charts > a > div.TNB {display:block!important;}
body > div.charts > a > div.TOPC {display:block!important;}
body > div.charts > a > div.TRUE {display:block!important;}
body > div.charts > a > div.TRX {display:block!important;}
body > div.charts > a > div.UBTC {display:block!important;}
body > div.charts > a > div.UGC {display:block!important;}
body > div.charts > a > div.UKG {display:block!important;}
body > div.charts > a > div.UTK {display:block!important;}
body > div.charts > a > div.VEE {display:block!important;}
body > div.charts > a > div.VIB {display:block!important;}
body > div.charts > a > div.VIU {display:block!important;}
body > div.charts > a > div.WRC {display:block!important;}
body > div.charts > a > div.WTC {display:block!important;}
body > div.charts > a > div.XEM {display:block!important;}
body > div.charts > a > div.XLM {display:block!important;}
body > div.charts > a > div.XMR {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div.XUC {display:block!important;}
body > div.charts > a > div.YEE {display:block!important;}
body > div.charts > a > div.YOYO {display:block!important;}
body > div.charts > a > div.ZEC {display:block!important;}
body > div.charts > a > div.ZEN {display:block!important;}
body > div.charts > a > div.ZRX {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:' okex';}
button.okex {font-weight:900!important; font-size:15px!important;}
