.AMP .chart_title,
.ARDR .chart_title,
.BCH .chart_title,
.BCN .chart_title,
.BCY .chart_title,
.BELA .chart_title,
.BLK .chart_title,
.BTC .chart_title,
.BTCD .chart_title,
.BTM .chart_title,
.BTS .chart_title,
.BURST .chart_title,
.CLAM .chart_title,
.CVC .chart_title,
.DASH .chart_title,
.DCR .chart_title,
.DGB .chart_title,
.DOGE .chart_title,
.EMC2 .chart_title,
.ETC .chart_title,
.ETH .chart_title,
.EXP .chart_title,
.FCT .chart_title,
.FLDC .chart_title,
.FLO .chart_title,
.GAME .chart_title,
.GAS .chart_title,
.GNO .chart_title,
.GNT .chart_title,
.GRC .chart_title,
.HUC .chart_title,
.LBC .chart_title,
.LSK .chart_title,
.LTC .chart_title,
.MAID .chart_title,
.NAV .chart_title,
.NEOS .chart_title,
.NMC .chart_title,
.NXC .chart_title,
.NXT .chart_title,
.OMG .chart_title,
.OMNI .chart_title,
.PASC .chart_title,
.PINK .chart_title,
.POT .chart_title,
.PPC .chart_title,
.RADS .chart_title,
.REP .chart_title,
.RIC .chart_title,
.SBD .chart_title,
.SC .chart_title,
.STEEM .chart_title,
.STORJ .chart_title,
.STR .chart_title,
.STRAT .chart_title,
.SYS .chart_title,
.VIA .chart_title,
.VRC .chart_title,
.VTC .chart_title,
.XBC .chart_title,
.XCP .chart_title,
.XEM .chart_title,
.XMR .chart_title,
.XPM .chart_title,
.XRP .chart_title,
.XVC .chart_title,
.ZEC .chart_title,
.ZRX .chart_title,
.reeeeeeee{
	color:#8b8970; 
  	font-weight:900; 
	margin-bottom:2px;
	}
	
