body > div.charts > a > div.AMP {display:block!important;}
body > div.charts > a > div.ARDR {display:block!important;}
body > div.charts > a > div.BCH {display:block!important;}
body > div.charts > a > div.BCN {display:block!important;}
body > div.charts > a > div.BCY {display:block!important;}
body > div.charts > a > div.BELA {display:block!important;}
body > div.charts > a > div.BLK {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.BTCD {display:block!important;}
body > div.charts > a > div.BTM {display:block!important;}
body > div.charts > a > div.BTS {display:block!important;}
body > div.charts > a > div.BURST {display:block!important;}
body > div.charts > a > div.CLAM {display:block!important;}
body > div.charts > a > div.CVC {display:block!important;}
body > div.charts > a > div.DASH {display:block!important;}
body > div.charts > a > div.DCR {display:block!important;}
body > div.charts > a > div.DGB {display:block!important;}
body > div.charts > a > div.DOGE {display:block!important;}
body > div.charts > a > div.EMC2 {display:block!important;}
body > div.charts > a > div.ETC {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.EXP {display:block!important;}
body > div.charts > a > div.FCT {display:block!important;}
body > div.charts > a > div.FLDC {display:block!important;}
body > div.charts > a > div.FLO {display:block!important;}
body > div.charts > a > div.GAME {display:block!important;}
body > div.charts > a > div.GAS {display:block!important;}
body > div.charts > a > div.GNO {display:block!important;}
body > div.charts > a > div.GNT {display:block!important;}
body > div.charts > a > div.GRC {display:block!important;}
body > div.charts > a > div.HUC {display:block!important;}
body > div.charts > a > div.LBC {display:block!important;}
body > div.charts > a > div.LSK {display:block!important;}
body > div.charts > a > div.LTC {display:block!important;}
body > div.charts > a > div.MAID {display:block!important;}
body > div.charts > a > div.NAV {display:block!important;}
body > div.charts > a > div.NEOS {display:block!important;}
body > div.charts > a > div.NMC {display:block!important;}
body > div.charts > a > div.NXC {display:block!important;}
body > div.charts > a > div.NXT {display:block!important;}
body > div.charts > a > div.OMG {display:block!important;}
body > div.charts > a > div.OMNI {display:block!important;}
body > div.charts > a > div.PASC {display:block!important;}
body > div.charts > a > div.PINK {display:block!important;}
body > div.charts > a > div.POT {display:block!important;}
body > div.charts > a > div.PPC {display:block!important;}
body > div.charts > a > div.RADS {display:block!important;}
body > div.charts > a > div.REP {display:block!important;}
body > div.charts > a > div.RIC {display:block!important;}
body > div.charts > a > div.SBD {display:block!important;}
body > div.charts > a > div.SC {display:block!important;}
body > div.charts > a > div.STEEM {display:block!important;}
body > div.charts > a > div.STORJ {display:block!important;}
body > div.charts > a > div.STR {display:block!important;}
body > div.charts > a > div.STRAT {display:block!important;}
body > div.charts > a > div.SYS {display:block!important;}
body > div.charts > a > div.VIA {display:block!important;}
body > div.charts > a > div.VRC {display:block!important;}
body > div.charts > a > div.VTC {display:block!important;}
body > div.charts > a > div.XBC {display:block!important;}
body > div.charts > a > div.XCP {display:block!important;}
body > div.charts > a > div.XEM {display:block!important;}
body > div.charts > a > div.XMR {display:block!important;}
body > div.charts > a > div.XPM {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div.XVC {display:block!important;}
body > div.charts > a > div.ZEC {display:block!important;}
body > div.charts > a > div.ZRX {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:' poloniex';}
button.poloniex {font-weight:900!important; font-size:15px!important;}
