.BCH .chart_title,
.BTC .chart_title,
.DASH .chart_title,
.ETH .chart_title,
.NEO .chart_title,
.QASH .chart_title,
.QTUM .chart_title,
.RKT .chart_title,
.UBTC .chart_title,
.XRP .chart_title,
.reeeeeeee{
	color:#ab82ff; 
  	font-weight:900; 
	margin-bottom:2px;
	}
	
