body > div.charts > a > div.BCH {display:block!important;}
body > div.charts > a > div.BTC {display:block!important;}
body > div.charts > a > div.DASH {display:block!important;}
body > div.charts > a > div.ETH {display:block!important;}
body > div.charts > a > div.NEO {display:block!important;}
body > div.charts > a > div.QASH {display:block!important;}
body > div.charts > a > div.QTUM {display:block!important;}
body > div.charts > a > div.RKT {display:block!important;}
body > div.charts > a > div.UBTC {display:block!important;}
body > div.charts > a > div.XRP {display:block!important;}
body > div.charts > a > div {display:none!important;}
body > div.swing-banner > b::after{content:'Exchange: quoine';}
button.poloniex {font-weight:900!important; font-size:15px!important;}
