.ADA .chart_title,
.ADT .chart_title,
.ADX .chart_title,
.AMP .chart_title,
.ANT .chart_title,
.ARDR .chart_title,
.ARK .chart_title,
.BAT .chart_title,
.BAY .chart_title,
.BCC .chart_title,
.BCPT .chart_title,
.BITB .chart_title,
.BLK .chart_title,
.BLOCK .chart_title,
.BNT .chart_title,
.BSD .chart_title,
.BTC .chart_title,
.BTG .chart_title,
.BURST .chart_title,
.CFI .chart_title,
.CLOAK .chart_title,
.CVC .chart_title,
.DASH .chart_title,
.DCR .chart_title,
.DCT .chart_title,
.DGB .chart_title,
.DMT .chart_title,
.DNT .chart_title,
.DOGE .chart_title,
.DYN .chart_title,
.EDG .chart_title,
.EMC2 .chart_title,
.ENG .chart_title,
.EOS .chart_title,
.ETC .chart_title,
.ETH .chart_title,
.EXCL .chart_title,
.EXP .chart_title,
.FCT .chart_title,
.FTC .chart_title,
.GAME .chart_title,
.GBYTE .chart_title,
.GNO .chart_title,
.GNT .chart_title,
.GRS .chart_title,
.GUP .chart_title,
.HMQ .chart_title,
.ICX .chart_title,
.IGNIS .chart_title,
.ION .chart_title,
.IOP .chart_title,
.KMD .chart_title,
.KORE .chart_title,
.LBC .chart_title,
.LRC .chart_title,
.LSK .chart_title,
.LTC .chart_title,
.MANA .chart_title,
.MCO .chart_title,
.MEME .chart_title,
.Memetic .chart_title,
.MER .chart_title,
.MONA .chart_title,
.MTL .chart_title,
.MUE .chart_title,
.NAV .chart_title,
.NBT .chart_title,
.NEO .chart_title,
.NMR .chart_title,
.NXS .chart_title,
.NXT .chart_title,
.OK .chart_title,
.OMG .chart_title,
.PART .chart_title,
.PAY .chart_title,
.PIVX .chart_title,
.POWR .chart_title,
.PTOY .chart_title,
.QRL .chart_title,
.QTUM .chart_title,
.RADS .chart_title,
.RCN .chart_title,
.RDD .chart_title,
.REP .chart_title,
.RLC .chart_title,
.RVR .chart_title,
.SALT .chart_title,
.SBD .chart_title,
.SC .chart_title,
.SHIFT .chart_title,
.SIB .chart_title,
.SLS .chart_title,
.SNT .chart_title,
.SPHR .chart_title,
.SRN .chart_title,
.STEEM .chart_title,
.STORJ .chart_title,
.STORM .chart_title,
.STRAT .chart_title,
.SWT .chart_title,
.SYNX .chart_title,
.SYS .chart_title,
.TIX .chart_title,
.TRX .chart_title,
.TUSD .chart_title,
.TX .chart_title,
.UBQ .chart_title,
.UKG .chart_title,
.UNB .chart_title,
.UP .chart_title,
.VEE .chart_title,
.VIA .chart_title,
.VIB .chart_title,
.VRC .chart_title,
.VTC .chart_title,
.WAVES .chart_title,
.WAX .chart_title,
.WINGS .chart_title,
.XDN .chart_title,
.XEL .chart_title,
.XEM .chart_title,
.XLM .chart_title,
.XMR .chart_title,
.XRP .chart_title,
.XVG .chart_title,
.XZC .chart_title,
.ZEC .chart_title,
.ZEN .chart_title,
.ZRX .chart_title,
.reeeeeeee{
	color:blue; 
  	font-weight:900; 
	margin-bottom:2px;
	}
	
