body {
background-color:#000;
color:#555;
font-family:arial;
 width: 95%; margin: 0 auto; 

}
a {color:#555;
font-weight:bold;}

.chart {
 margin-bottom:10px;
 width:25%;
 padding-top:0px!important;
 float:left;
 margin-right:5px;
 margin-left:5px;
 padding:2%;
 padding-bottom:5px;
}

.chart1day {
 margin-bottom:10px;
 width:90%;
 padding-top:0px!important;
 float:left;
 margin-right:5px;
 margin-left:5px;
 padding:2%;
 padding-bottom:5px;
}

 
.chart a {
text-decoration:none;
float:left;
font-weight:100;
font-size:16px;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
margin-left:-19px; 
margin-right:8px;

}



.last-price { float:left;
padding-top:10px;
margin-bottom:0px;
}



.gain-price { 
position:static;
right:0px; 
top:0px;
font-size:12px;
padding-top:5px;
}



.garbage , .garbage a {

 background-color:#111;
color:#555!important;
}

.garbage2 , .garbage2 a {
 background-color:#222;
color:#777!important;
}

.garbage3 , .garbage3 a {
 background-color:#333;
color:#999!important;
}
