body{margin:0px;
padding:0px;
background-color:black;
color:white;
margin-right:150px;}

.sidebar {position:fixed;
width:120px;
padding:30px;
right:0px;
top:0px;}



img {padding-right:3px; padding-left:10px; padding-top:1px;
margin-right:-5px;
margin-bottom:-5px;}

#tier01,#tier02 { 
 
}
#tier03,#tier04 {
opacity:0.90;
 
}
#tier05,#tier06 {
opacity:0.80;
 
}
#tier07,#tier08 {
opacity:0.70;

}
#tier09,#tier10 {
opacity:0.60;

}
#tier11,#tier12 {
opacity:0.50;

}
#tier13,#tier14 {
opacity:0.40;

}
#tier15 {
opacity:0.40;
 
}

