body{margin:0px;
padding:0px;
background-color:black;
color:white;
margin-right:150px;}

.sidebar {position:fixed;
width:120px;
padding:30px;
right:0px;
top:0px;}



img {padding-right:3px; padding-left:10px; padding-top:1px;
margin-right:-5px;
margin-bottom:-5px;}

#tier01,#tier02 { 
border:1px solid #6f7d9c;
}
#tier03,#tier04 {
opacity:0.80;
border:1px solid #616d88;
}
#tier05,#tier04 {
opacity:0.70;
border:1px solid #616d88;
}
#tier07,#tier04 {
opacity:0.60;
border:1px solid #616d88;
}
#tier09,#tier04 {
opacity:0.50;
border:1px solid #616d88;
}
#tier11,#tier04 {
opacity:0.40;
border:1px solid #616d88;
}
#tier13,#tier04 {
opacity:0.30;
border:1px solid #616d88;
}
#tier15 {
opacity:0.20;
border:1px solid #616d88;
}

